node_modules
**/node_modules

.next
**/.next
out
**/out
dist
**/dist
.turbopack
**/.turbopack
.umi
**/.umi
.umi-production
**/.umi-production
playwright-report
**/playwright-report
test-results
**/test-results
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

/next-env.d.ts
/next.config.ts
/postcss.config.mjs
/public
/src
/tailwind.config.ts
/tsconfig.json

admin-backend/**/target
admin-backend/tmp
admin-backend/storage
admin-backend/artifacts

.codex-run
