node_modules
**/node_modules

.next
**/.next
out
**/out
dist
**/dist
.turbopack
**/.turbopack
.umi
**/.umi
.umi-production
**/.umi-production
playwright-report
**/playwright-report
test-results
**/test-results
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

.codex-run
.source
